In [120]:
import pandas as pd
from ast import literal_eval
import numpy as np

### Load data

In [164]:
train = pd.read_csv('../tmdb-box-office-prediction/train.csv')
test = pd.read_csv('../tmdb-box-office-prediction/test.csv')
sample_submission = pd.read_csv('../tmdb-box-office-prediction/sample_submission.csv')

### Initial data exploration

In [136]:
# Not a lot of observations left in the train set. Hopefully it'll be 
# enough to train a decent model.

train.shape, test.shape, sample_submission.shape

((3000, 23), (4398, 22), (4398, 2))

In [137]:
train.head().T

,0,1,2,3,4
id,1,2,3,4,5
belongs_to_collection,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...","[{'id': 107674, 'name': 'The Princess Diaries ...",NaN,NaN,NaN
budget,14000000,40000000,3300000,1200000,0
genres,"[{'id': 35, 'name': 'Comedy'}]","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 18, 'name': 'Drama'}]","[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...","[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam..."
homepage,NaN,NaN,http://sonyclassics.com/whiplash/,http://kahaanithefilm.com/,NaN
imdb_id,tt2637294,tt0368933,tt2582802,tt1821480,tt1380152
original_language,en,en,en,hi,ko
original_title,Hot Tub Time Machine 2,The Princess Diaries 2: Royal Engagement,Whiplash,Kahaani,마린보이
overview,"When Lou, who has become the ""father of the In...",Mia Thermopolis is now a college graduate and ...,"Under the direction of a ruthless instructor, ...",Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,Marine Boy is the story of a former national s...
popularity,6.57539,8.24889,64.3,3.17494,1.14807
poster_path,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg
production_companies,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'name': 'Bold Films', 'id': 2266}, {'name': ...",NaN,NaN
production_countries,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'IN', 'name': 'India'}]","[{'iso_3166_1': 'KR', 'name': 'South Korea'}]"
release_date,2/20/15,8/6/04,10/10/14,3/9/12,2/5/09
runtime,93,113,105,122,118
spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]"
status,Released,Released,Released,Released,Released
tagline,The Laws of Space and Time are About to be Vio...,It can take a lifetime to find true love; she'...,The road to greatness can take you to the edge.,NaN,NaN
title,Hot Tub Time Machine 2,The Princess Diaries 2: Royal Engagement,Whiplash,Kahaani,Marine Boy
Keywords,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'id': 10092, 'name': 'mystery'}, {'id': 1054...",NaN
cast,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'cast_id': 3, 'character': 'Chun-soo', 'cred..."
crew,"[{'credit_id': '59ac067c92514107af02c8c8', 'de...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...","[{'credit_id': '52fe464b9251416c75073b43', 'de..."
revenue,12314651,95149435,13092000,16000000,3923970

In [138]:
train.describe()

                id        budget   popularity      runtime       revenue
count  3000.000000  3.000000e+03  3000.000000  2998.000000  3.000000e+03
mean   1500.500000  2.253133e+07     8.463274   107.856571  6.672585e+07
std     866.169729  3.702609e+07    12.104000    22.086434  1.375323e+08
min       1.000000  0.000000e+00     0.000001     0.000000  1.000000e+00
25%     750.750000  0.000000e+00     4.018053    94.000000  2.379808e+06
50%    1500.500000  8.000000e+06     7.374861   104.000000  1.680707e+07
75%    2250.250000  2.900000e+07    10.890983   118.000000  6.891920e+07
max    3000.000000  3.800000e+08   294.337037   338.000000  1.519558e+09

In [139]:
train.describe(exclude='number')

,belongs_to_collection,genres,homepage,imdb_id,original_language,original_title,overview,poster_path,production_companies,production_countries,release_date,spoken_languages,status,tagline,title,Keywords,cast,crew
count,604,2993,946,3000,3000,3000,2992,2999,2844,2945,3000,2980,3000,2403,3000,2724,2987,2984
unique,422,872,941,3000,36,2975,2992,2999,2383,321,2398,401,2,2400,2969,2648,2975,2984
top,"[{'id': 645, 'name': 'James Bond Collection', ...","[{'id': 18, 'name': 'Drama'}]",http://www.transformersmovie.com/,tt0460892,en,Deadfall,Jaane Tu... Ya Jaane Na (translation: Whether ...,/4REb08G4Bk00lp9TFWjC6iEsStZ.jpg,"[{'name': 'Paramount Pictures', 'id': 4}]","[{'iso_3166_1': 'US', 'name': 'United States o...",9/10/10,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Based on a true story.,Anna Karenina,"[{'id': 10183, 'name': 'independent film'}]",[],"[{'credit_id': '533544bfc3a3682abb0044bf', 'de..."
freq,16,266,4,1,2575,2,1,1,51,1752,5,1817,2996,3,2,27,13,1

### Wrangle data

In [195]:
for i, e in enumerate(train['genres'][:5]):
    print(i, e)

0 [{'id': 35, 'name': 'Comedy'}]
1 [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10751, 'name': 'Family'}, {'id': 10749, 'name': 'Romance'}]
2 [{'id': 18, 'name': 'Drama'}]
3 [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'name': 'Drama'}]
4 [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}]

In [196]:
len([i for i in train['genres'].iloc[1] if i])

4

In [201]:
# Get genre lists for each movie
list_of_genres = list(train_wrangled['genres'].apply(lambda x: [i['name'] for i in x] if type(x) == list else []).values)

In [202]:
list_of_genres

[['Comedy'],
 ['Comedy', 'Drama', 'Family', 'Romance'],
 ['Drama'],
 ['Thriller', 'Drama'],
 ['Action', 'Thriller'],
 ['Animation', 'Adventure', 'Family'],
 ['Horror', 'Thriller'],
 ['Documentary'],
 ['Action', 'Comedy', 'Music', 'Family', 'Adventure'],
 ['Comedy', 'Music'],
 ['Drama'],
 ['Comedy'],
 ['Drama'],
 ['Comedy', 'Crime'],
 ['Action', 'Thriller', 'Science Fiction', 'Mystery'],
 ['Action', 'Crime', 'Drama'],
 ['Horror', 'Thriller'],
 ['Drama', 'Romance'],
 ['Comedy', 'Romance'],
 ['Action', 'Thriller', 'Crime'],
 ['Adventure', 'Family', 'Science Fiction'],
 ['Horror', 'Thriller'],
 ['Thriller', 'Horror'],
 ['Thriller', 'Mystery', 'Foreign'],
 ['Horror', 'Comedy'],
 ['Comedy', 'Horror', 'Mystery', 'Thriller'],
 ['Crime', 'Drama', 'Mystery', 'Thriller'],
 ['Drama', 'Comedy', 'Romance'],
 ['Animation'],
 ['Action', 'Adventure', 'Crime', 'Thriller'],
 ['Drama', 'Comedy'],
 ['Mystery', 'Drama', 'Thriller'],
 ['Fantasy', 'Action', 'Adventure'],
 ['Horror'],
 ['Action', 'Comedy', 'Crime', 'Thriller'],
 ['Action', 'Crime', 'Thriller'],
 ['Comedy', 'Romance'],
 ['Action', 'Drama', 'Science Fiction', 'Thriller'],
 ['Thriller'],
 ['War', 'Western'],
 ['Action', 'Documentary'],
 ['Crime', 'Drama'],
 ['Comedy'],
 ['Drama'],
 ['Comedy', 'Romance'],
 ['Crime', 'Drama', 'Mystery', 'Romance', 'Thriller'],
 ['Animation', 'Family', 'Comedy', 'Adventure'],
 ['Crime', 'Drama', 'Mystery', 'Western'],
 ['Drama', 'Comedy'],
 ['Science Fiction', 'Action', 'Adventure', 'Thriller'],
 ['Romance', 'Drama', 'Comedy'],
 ['Adventure', 'Comedy'],
 ['Adventure', 'Family'],
 ['Drama', 'Family', 'Romance'],
 ['Action'],
 ['Comedy', 'Drama', 'Romance'],
 ['Comedy', 'Drama'],
 ['Action', 'Crime', 'Fantasy'],
 ['Music', 'Romance'],
 ['Action', 'Adventure', 'Comedy'],
 ['Adventure', 'Action', 'Thriller'],
 ['Drama'],
 ['Thriller', 'Fantasy', 'Crime', 'Drama'],
 ['Horror', 'Thriller'],
 ['Drama', 'Adventure'],
 ['Action'],
 ['Crime', 'Comedy'],
 ['Drama'],
 ['Crime', 'Drama'],
 ['Action', 'Crime', 'Drama', 'Thriller'],
 ['Drama', 'Mystery', 'Thriller', 'Fantasy'],
 ['Drama'],
 ['Comedy', 'Music'],
 ['Crime', 'Documentary'],
 ['Crime', 'Drama'],
 ['Horror', 'Comedy'],
 ['Drama', 'Romance', 'Foreign'],
 ['Comedy'],
 ['Crime', 'Drama', 'Action', 'Thriller'],
 ['Horror', 'Thriller'],
 ['Action', 'Crime', 'Drama', 'Thriller'],
 ['Comedy', 'Drama', 'Romance'],
 ['Drama', 'Horror', 'Mystery', 'Thriller'],
 ['Thriller', 'Science Fiction'],
 ['Horror', 'Mystery'],
 ['Action', 'Adventure', 'Drama', 'Mystery', 'Science Fiction', 'Thriller'],
 ['Drama'],
 ['Crime', 'Action', 'Comedy', 'Thriller'],
 ['Drama', 'History'],
 ['Drama', 'Thriller', 'Mystery', 'Romance'],
 ['Action', 'Crime'],
 ['Drama'],
 ['War', 'Adventure', 'Drama', 'Romance'],
 ['Drama', 'History'],
 ['Thriller', 'Drama', 'Mystery'],
 ['Drama'],
 ['Action', 'Comedy', 'Thriller', 'Romance'],
 ['Fantasy', 'Drama'],
 ['Animation', 'Comedy', 'Adventure', 'Family'],
 ['Action', 'Crime', 'Drama'],
 ['Action', 'Thriller', 'Science Fiction', 'Crime', 'Horror'],
 ['Drama', 'Romance'],
 ['Action', 'Comedy', 'Crime', 'Foreign'],
 ['Drama'],
 ['Comedy'],
 ['Drama'],
 ['Drama'],
 ['Action', 'Drama', 'History', 'War'],
 ['Drama', 'Comedy', 'Romance'],
 ['Drama', 'Adventure', 'Romance'],
 ['Action', 'Comedy', 'Crime', 'Romance'],
 ['Comedy', 'Romance', 'Drama'],
 ['Thriller', 'Drama', 'Adventure', 'Action', 'History'],
 ['Comedy', 'Drama', 'Romance'],
 ['Adventure', 'Fantasy', 'Action'],
 ['Action', 'Comedy'],
 ['Drama'],
 ['Action', 'Adventure', 'Comedy'],
 ['Drama', 'Romance'],
 ['Crime', 'Action', 'Comedy'],
 ['Action', 'Comedy', 'Crime', 'Thriller'],
 ['Adventure', 'Animation', 'Drama', 'Family'],
 ['Action', 'Comedy', 'Crime', 'Mystery', 'Thriller'],
 ['Action', 'Crime', 'Thriller'],
 ['Comedy', 'Drama', 'Romance'],
 ['Drama', 'War'],
 ['Action', 'Adventure', 'Comedy'],
 ['Horror', 'Drama', 'Thriller', 'Mystery'],
 ['Horror', 'Thriller'],
 ['Drama'],
 ['Comedy'],
 ['Drama', 'Thriller'],
 ['Documentary', 'History'],
 ['Comedy', 'Drama'],
 ['Comedy', 'Romance'],
 ['Adventure', 'Comedy', 'Drama'],
 ['Drama', 'Family'],
 ['Comedy'],
 ['Thriller'],
 ['Adventure', 'Action', 'Science Fiction', 'Thriller'],
 ['Drama', 'Music', 'Romance'],
 ['Drama', 'Romance'],
 ['Drama', 'Comedy'],
 ['Drama'],
 ['Horror', 'Crime', 'Thriller'],
 ['Drama', 'Mystery', 'Romance'],
 ['Comedy', 'Crime'],
 ['Action', 'Science Fiction', 'Drama'],
 ['Comedy', 'Family'],
 ['Thriller', 'Adventure', 'Drama'],
 ['Adventure', 'Drama', 'Western'],
 ['Documentary'],
 ['Drama', 'Fantasy', 'Horror'],
 ['Thriller'],
 ['Action', 'Crime', 'Thriller'],
 ['Adventure', 'Fantasy', 'Animation', 'Family'],
 ['Action'],
 ['Action', 'Adventure', 'Science Fiction'],
 ['Action', 'Drama', 'Thriller', 'Crime'],
 ['Action', 'Western'],
 ['Comedy', 'Drama'],
 ['Comedy', 'Romance'],
 ['Drama', 'Comedy'],
 ['Comedy', 'Drama'],
 ['Thriller', 'Horror'],
 ['Fantasy', 'Action', 'Comedy', 'Science Fiction', 'Romance'],
 ['Documentary', 'Music'],
 ['Crime', 'Drama', 'Horror', 'Thriller'],
 ['Mystery', 'Comedy', 'Crime'],
 ['Adventure', 'Action', 'Thriller', 'Science Fiction'],
 ['Comedy', 'Crime'],
 ['Crime', 'Drama', 'Mystery', 'Thriller'],
 ['Action', 'Drama', 'Thriller', 'Crime', 'Mystery'],
 ['Adventure'],
 ['Comedy'],
 ['Action', 'Crime', 'Thriller'],
 ['Horror', 'Science Fiction', 'Thriller'],
 ['Drama', 'Romance'],
 ['Action', 'Adventure', 'Thriller', 'War'],
 ['Adventure', 'Action', 'Thriller'],
 ['Thriller', 'Crime', 'Drama'],
 ['Drama'],
 ['Comedy', 'Romance'],
 ['Adventure', 'Drama', 'Action'],
 ['Comedy', 'Drama', 'Fantasy', 'Romance'],
 ['Drama', 'Crime'],
 ['Comedy'],
 ['Drama', 'Mystery'],
 ['Animation', 'Family'],
 ['Drama', 'Comedy'],
 ['Horror', 'Thriller', 'Science Fiction'],
 ['Romance', 'Comedy', 'Drama'],
 ['Comedy'],
 ['Action', 'Crime', 'Drama', 'Thriller'],
 ['Comedy', 'Drama'],
 ['Drama'],
 ['Horror'],
 ['Action', 'Thriller', 'Crime'],
 ['Action', 'Comedy', 'Drama'],
 ['Drama', 'Crime'],
 ['Comedy', 'Family', 'Fantasy'],
 ['Music', 'Comedy', 'Drama', 'Romance', 'Science Fiction'],
 ['Animation', 'Comedy', 'Family'],
 ['Animation', 'Comedy', 'Family'],
 ['Horror', 'Comedy', 'Romance'],
 ['Crime', 'Drama', 'Thriller'],
 ['Crime', 'Drama', 'Thriller'],
 ['Action', 'Adventure', 'Science Fiction', 'Family', 'Fantasy'],
 ['Fantasy', 'Horror', 'Science Fiction'],
 ['Western', 'Adventure'],
 ['Horror', 'Comedy'],
 ['Horror', 'Thriller', 'Adventure'],
 ['Action', 'Comedy', 'Family'],
 ['Action'],
 ['Thriller', 'Crime', 'Drama'],
 ['Comedy', 'Crime'],
 ['Fantasy', 'Animation', 'Family'],
 ['Action', 'Comedy'],
 ['Comedy'],
 ['Documentary'],
 ['Drama', 'History', 'War'],
 ['Comedy', 'Romance'],
 ['Comedy', 'Drama', 'Romance'],
 ['Thriller', 'Mystery'],
 ['Comedy'],
 ['Action', 'Adventure', 'Drama', 'History'],
 ['Fantasy', 'Thriller', 'Action', 'Crime'],
 ['Drama', 'Romance'],
 ['Adventure', 'Western'],
 ['Drama', 'Romance'],
 ['Action', 'Adventure', 'Comedy'],
 ['Drama', 'Romance'],
 ['Comedy', 'Drama'],
 ['Western', 'Documentary'],
 ['Action', 'Adventure', 'Drama', 'History'],
 ['Adventure', 'Family'],
 ['Horror', 'Comedy'],
 ['Comedy'],
 ['Fantasy', 'Drama', 'Thriller', 'Mystery', 'Romance'],
 ['Drama', 'Romance', 'Comedy', 'Music'],
 ['Action', 'Drama'],
 ['Animation', 'Music', 'Family'],
 ['Animation'],
 ['Comedy', 'Drama', 'Romance'],
 ['Romance', 'Comedy', 'Horror'],
 ['Comedy', 'Adventure', 'Romance'],
 ['Romance', 'Comedy', 'Crime', 'Fantasy'],
 ['Drama', 'History', 'War'],
 ['Action', 'Crime', 'Thriller'],
 ['Mystery'],
 ['Comedy'],
 ['Action', 'Adventure'],
 ['Comedy', 'Horror'],
 ['Drama'],
 ['Comedy', 'Drama'],
 ['Comedy'],
 ['Adventure', 'Drama'],
 ['Drama', 'Action', 'Western', 'Music', 'Romance'],
 ['Action', 'Animation', 'Science Fiction'],
 ['Drama'],
 ['Drama', 'Family'],
 ['Comedy'],
 ['Drama', 'Romance'],
 ['Science Fiction'],
 ['Drama', 'Thriller'],
 ['Crime', 'Drama'],
 ['Adventure', 'Drama'],
 ['Comedy'],
 ['Adventure', 'Action', 'Family'],
 ['Documentary', 'Foreign', 'Music'],
 ['Family', 'Comedy'],
 ['Comedy'],
 ['Action', 'Thriller'],
 ['Family', 'Comedy'],
 ['Comedy', 'Romance'],
 ['Documentary'],
 ['Horror', 'Fantasy', 'Thriller'],
 ['Action', 'Adventure', 'Comedy', 'Romance'],
 ['Drama'],
 ['Drama', 'Crime', 'Thriller'],
 ['Horror', 'Thriller'],
 ['Horror', 'Thriller'],
 ['Comedy', 'Drama', 'Romance'],
 ['Drama'],
 ['Crime', 'Drama', 'Thriller'],
 ['Comedy', 'Science Fiction', 'Thriller', 'Adventure'],
 ['Horror', 'Thriller'],
 ['Thriller', 'Comedy', 'Crime', 'Romance'],
 ['Action', 'Drama'],
 ['Animation', 'Drama', 'Family', 'Fantasy'],
 ['Comedy', 'Drama', 'Romance'],
 ['Crime', 'Drama', 'Thriller'],
 ['Drama', 'War'],
 ['Action', 'Drama', 'Foreign', 'History', 'Thriller'],
 ['Action', 'Adventure', 'Science Fiction'],
 ['Action', 'Fantasy', 'Science Fiction'],
 ['Drama'],
 ['Action', 'Crime', 'Drama'],
 ['Comedy'],
 ['Fantasy', 'Action', 'Comedy', 'Science Fiction'],
 ['Action', 'Horror'],
 ['Comedy', 'Romance'],
 ['Comedy', 'Music', 'Romance'],
 ['Drama', 'Thriller'],
 ['Action', 'War'],
 ['Drama', 'History', 'Crime'],
 ['Family', 'Fantasy'],
 ['Crime', 'Drama'],
 ['Comedy', 'Drama'],
 ['Comedy'],
 ['Drama', 'Thriller', 'Mystery'],
 ['Drama', 'Romance'],
 ['Comedy', 'Drama'],
 ['Drama', 'Comedy'],
 ['Family', 'Comedy', 'Animation', 'Adventure'],
 ['Crime', 'Drama', 'Mystery'],
 ['Animation', 'Adventure', 'Family', 'Comedy'],
 ['Science Fiction', 'Action', 'Drama', 'Thriller'],
 ['Fantasy', 'Mystery', 'Thriller'],
 ['Crime', 'Drama', 'Romance', 'Thriller'],
 ['Action', 'Thriller'],
 ['Adventure', 'Fantasy', 'Drama', 'Comedy', 'Science Fiction', 'Family'],
 ['Western', 'Drama', 'Adventure', 'Thriller'],
 ['Drama', 'Action', 'Thriller', 'Crime'],
 ['Action', 'Comedy', 'Romance'],
 ['Comedy', 'Family', 'Fantasy'],
 ['Comedy'],
 ['Action', 'Thriller', 'Crime', 'Drama'],
 ['Drama', 'Romance'],
 ['Animation', 'Comedy'],
 ['Romance', 'Adventure'],
 ['Drama', 'Action', 'History'],
 ['Comedy', 'Drama', 'Romance'],
 ['War', 'Action', 'Drama'],
 ['Action', 'Drama'],
 ['Drama'],
 ['Thriller', 'Crime'],
 ['Mystery', 'Drama', 'Fantasy'],
 ['Drama'],
 ['Drama', 'History'],
 ['Comedy'],
 ['Drama', 'Mystery', 'Thriller', 'Crime'],
 ['Comedy', 'Romance'],
 ['War', 'Drama', 'Action'],
 ['Action', 'Drama', 'Thriller'],
 ['Comedy', 'Romance'],
 ['Drama', 'Romance'],
 ['Fantasy', 'Drama', 'Comedy', 'Family', 'Adventure'],
 ['Adventure', 'Animation', 'Fantasy'],
 ['Documentary'],
 ['Drama', 'Action'],
 ['Adventure', 'Action', 'Thriller'],
 ['Comedy'],
 ['Action', 'Comedy'],
 ['Action', 'Crime'],
 ['Documentary'],
 ['Action', 'Adventure', 'Comedy', 'Drama', 'Mystery'],
 ['Family', 'Animation', 'Drama'],
 ['Action', 'War', 'Science Fiction'],
 ['Fantasy', 'Drama'],
 ['Family', 'Documentary', 'Adventure'],
 ['Action', 'Comedy', 'Crime'],
 ['Drama', 'War'],
 ['Drama', 'Romance'],
 ['Drama', 'Thriller'],
 ['Science Fiction', 'Drama', 'Thriller'],
 ['Drama'],
 ['Family', 'Adventure', 'Comedy', 'Fantasy'],
 ['Drama', 'Comedy', 'Romance'],
 ['Thriller', 'Horror'],
 ['Comedy', 'Drama'],
 ['Drama', 'Comedy', 'Romance', 'Foreign'],
 ['Action', 'Drama', 'Thriller', 'War'],
 ['Comedy', 'Thriller', 'Drama'],
 ['Horror', 'Science Fiction'],
 ['Science Fiction'],
 ['Animation', 'Family'],
 ['Drama', 'Thriller', 'Crime'],
 ['Animation', 'Family', 'Adventure'],
 ['Drama', 'Music'],
 ['Drama', 'Thriller', 'Action'],
 ['Adventure', 'Drama', 'Family'],
 ['Crime', 'Drama', 'Thriller'],
 ['Drama', 'Romance'],
 ['Drama'],
 ['Family', 'Comedy'],
 ['Drama'],
 ['Drama', 'Romance'],
 ['Action', 'Crime', 'Drama', 'Thriller'],
 ['Comedy'],
 ['Comedy'],
 ['Adventure', 'Drama', 'History'],
 ['Drama'],
 ['Family', 'Comedy'],
 ['Comedy'],
 ['Comedy', 'Drama'],
 ['Comedy', 'Documentary'],
 ['Drama', 'Horror', 'Science Fiction', 'Thriller'],
 ['Action', 'Adventure', 'Drama', 'History', 'Romance', 'War'],
 ['Comedy', 'Crime', 'Horror', 'Thriller'],
 ['Romance', 'Comedy'],
 ['Drama', 'History'],
 ['Drama'],
 ['Action'],
 ['Action', 'Horror', 'Thriller', 'Science Fiction'],
 ['Horror', 'Thriller', 'Mystery'],
 ['Animation', 'Comedy', 'Fantasy'],
 ['Thriller'],
 ['Adventure', 'Comedy', 'Science Fiction'],
 ['Drama'],
 ['Horror', 'Action', 'Thriller', 'Science Fiction'],
 ['Drama', 'History'],
 ['Romance'],
 ['Comedy', 'Romance'],
 ['Comedy'],
 ['Crime', 'Drama', 'Mystery', 'Thriller'],
 ['Drama'],
 ['Adventure', 'Horror', 'Thriller'],
 ['Crime', 'Drama'],
 ['Comedy', 'Foreign'],
 ['Fantasy', 'Comedy', 'Romance'],
 ['Horror', 'Thriller'],
 ['Action', 'Comedy'],
 ['Crime', 'Thriller', 'Mystery'],
 ['Comedy', 'Drama'],
 ['Drama', 'Fantasy'],
 ['Comedy', 'Family'],
 ['Comedy'],
 ['Drama', 'Mystery', 'Thriller'],
 ['Drama', 'Mystery', 'Thriller'],
 ['Comedy'],
 ['Science Fiction', 'Thriller'],
 ['Crime', 'Drama', 'Mystery'],
 ['Action', 'Comedy', 'Crime', 'Romance'],
 ['Adventure', 'Comedy', 'Drama', 'Science Fiction'],
 ['Family', 'Adventure', 'Drama'],
 ['Drama', 'History'],
 ['Adventure', 'Action', 'Comedy'],
 ['Comedy', 'Romance'],
 ['Drama'],
 ['Action', 'War'],
 ['Drama', 'Thriller'],
 ['Documentary'],
 ['Mystery', 'Thriller'],
 ['Drama', 'Romance'],
 ['Comedy', 'Drama'],
 ['Adventure', 'Action', 'Science Fiction', 'Thriller'],
 ['Fantasy', 'Drama', 'Comedy', 'Family'],
 ['Action', 'Thriller'],
 ['Thriller', 'Science Fiction', 'Adventure', 'Action'],
 ['Comedy', 'Romance'],
 ['Drama', 'Crime', 'Thriller'],
 ['Music', 'Romance', 'Drama'],
 ['Horror', 'Thriller', 'War'],
 ['Comedy', 'Drama', 'Romance'],
 ['Horror'],
 ['Drama', 'Mystery'],
 ['Drama'],
 ['Romance', 'Comedy', 'Family'],
 ['Thriller', 'Action', 'Crime'],
 ['History', 'Drama'],
 ['Comedy', 'Family'],
 ['Drama', 'Science Fiction', 'Mystery'],
 ['Comedy', 'Drama', 'Family'],
 ['Comedy', 'Family', 'Science Fiction'],
 ['Crime', 'Drama', 'Thriller'],
 ['Drama'],
 ['Comedy'],
 ['Drama'],
 ['Adventure', 'Drama', 'Action', 'Romance', 'Family'],
 [],
 ['Comedy'],
 ['Drama', 'Crime', 'Thriller'],
 ['Action', 'Comedy', 'Drama', 'History'],
 ['Family', 'Animation'],
 ['Horror'],
 ['Comedy', 'Drama'],
 ['Comedy', 'Drama'],
 ['Action', 'Adventure', 'Drama', 'Thriller'],
 ['Fantasy', 'Drama', 'Comedy', 'Science Fiction', 'Romance'],
 ['Western'],
 ['Action', 'Adventure', 'Comedy', 'Drama'],
 ['Comedy', 'Drama', 'Romance'],
 ['Drama'],
 ['Comedy', 'Romance'],
 ['Crime', 'Drama', 'History'],
 ['Drama', 'Romance'],
 ['Adventure', 'Animation', 'Comedy', 'Drama', 'Fantasy'],
 ['Horror', 'Thriller'],
 ['Drama', 'Horror', 'Science Fiction'],
 ['Animation', 'Comedy', 'Drama'],
 ['Action', 'Adventure', 'Drama', 'History'],
 ['Crime', 'Drama', 'Thriller'],
 ['Drama', 'Romance'],
 ['Crime', 'Drama', 'Mystery', 'Thriller'],
 ['Action', 'Thriller'],
 ['Horror', 'Mystery', 'Science Fiction'],
 ['Action', 'Adventure', 'Thriller'],
 ['Documentary'],
 ['Animation', 'Comedy', 'Family'],
 ['War', 'Drama'],
 ['Comedy', 'Drama', 'Romance'],
 ['Action', 'Drama', 'Thriller'],
 ['Mystery', 'Crime', 'Drama'],
 ['Western'],
 ['Action', 'Drama', 'War'],
 ['Comedy', 'Drama'],
 ['Thriller', 'Crime', 'Action'],
 ['Mystery', 'Drama', 'Thriller'],
 ['Horror'],
 ['Crime', 'Drama'],
 ['Comedy', 'Drama', 'Family', 'Fantasy'],
 ['Comedy', 'Drama', 'Romance'],
 ['Thriller', 'Science Fiction', 'Action', 'Crime'],
 ['Drama', 'Music', 'Romance'],
 ['Horror', 'Mystery', 'Thriller'],
 ['Romance', 'Drama'],
 ['Drama', 'Romance'],
 ['Action', 'Adventure', 'Fantasy'],
 ['Drama'],
 ['Action', 'Crime', 'Drama'],
 ['Documentary', 'Music'],
 ['Drama'],
 ['Drama', 'History'],
 ['Action', 'Drama', 'Thriller'],
 ['Adventure', 'Action', 'Thriller', 'Crime'],
 ['Adventure', 'Comedy', 'Romance'],
 ['Comedy', 'Romance'],
 ['Romance', 'Comedy', 'Crime'],
 ['Comedy', 'Drama', 'Family', 'Fantasy', 'Romance'],
 ['Drama'],
 ['Documentary', 'Music'],
 ['Family', 'Adventure'],
 ['Action', 'Science Fiction', 'Adventure', 'Thriller'],
 ['Drama', 'Romance'],
 ['Drama', 'War'],
 ['Comedy'],
 ['Action', 'Adventure', 'Thriller'],
 ['Adventure', 'Action'],
 ['Comedy', 'Documentary'],
 ['Adventure', 'Family', 'Fantasy'],
 ['Comedy', 'Drama'],
 ['Horror', 'Mystery', 'Thriller'],
 ['Adventure', 'Fantasy', 'Action'],
 ['Comedy', 'Drama', 'Music', 'Romance'],
 ['Action', 'Adventure', 'Drama'],
 ['Drama', 'Comedy'],
 ['Thriller', 'Comedy', 'Fantasy', 'Horror'],
 ['Horror', 'Thriller'],
 ['Documentary'],
 ['Thriller', 'Drama'],
 ['Crime', 'Action', 'Science Fiction'],
 ['Horror', 'Thriller'],
 ['Comedy', 'Crime', 'Romance', 'Drama'],
 ['Animation', 'Science Fiction'],
 ['Action', 'Adventure', 'Crime', 'Drama', 'Thriller'],
 ['Adventure', 'Drama'],
 ['Comedy'],
 ['Comedy', 'Drama', 'History'],
 ['Adventure', 'Family'],
 ['Drama'],
 ['Drama'],
 ['Comedy', 'Romance'],
 ['Drama'],
 ['Drama'],
 ['Comedy', 'Romance'],
 ['Action', 'Adventure', 'Drama', 'History', 'Western'],
 ['Action', 'Comedy', 'Crime'],
 ['Drama', 'Thriller'],
 ['Science Fiction', 'Thriller'],
 ['Horror', 'Thriller', 'Science Fiction'],
 ['Horror'],
 ['Crime', 'Drama', 'Mystery', 'Thriller'],
 ['Comedy'],
 ['Comedy'],
 ['Drama', 'History'],
 ['Action', 'Science Fiction', 'Crime'],
 ['Adventure', 'Animation', 'Comedy', 'Family'],
 ['Drama'],
 ['Action', 'Western', 'Drama'],
 ['Comedy', 'Horror', 'Music'],
 ['Drama', 'Comedy'],
 ['Drama', 'Music'],
 ['Horror', 'Action', 'Thriller', 'Crime'],
 ['Comedy', 'Drama'],
 ['Drama'],
 ['Music'],
 ['Action', 'Horror', 'Science Fiction'],
 ['Horror', 'Thriller'],
 ['Drama'],
 ['Comedy', 'Romance'],
 ['Drama', 'Comedy'],
 ['Drama', 'Romance'],
 ['Romance', 'Drama'],
 ['Comedy'],
 ['Romance', 'Comedy'],
 ['Horror', 'Comedy', 'Fantasy'],
 ['Comedy', 'Drama'],
 ['Drama'],
 ['Thriller', 'Drama'],
 ['Action', 'Romance', 'War'],
 ['Drama', 'Thriller'],
 ['Adventure', 'Drama', 'Romance', 'Action'],
 ['Comedy', 'Romance', 'Drama'],
 ['Drama', 'Action', 'Crime', 'Thriller'],
 ['Drama', 'History', 'War'],
 ['Thriller', 'War', 'Adventure'],
 ['Documentary'],
 ['Drama'],
 ['Fantasy', 'Animation', 'Romance', 'Family'],
 ['Horror', 'Comedy', 'Action', 'Fantasy', 'Science Fiction'],
 ['Thriller', 'Drama', 'Romance'],
 ['Thriller', 'Drama'],
 ['Comedy', 'Romance'],
 ['Action', 'Adventure', 'Drama', 'War'],
 ['Drama'],
 ['Foreign', 'Drama'],
 ['Family', 'Comedy'],
 ['Comedy'],
 ['Fantasy', 'Drama', 'Mystery'],
 ['Crime', 'Drama', 'Mystery', 'Thriller'],
 ['Drama', 'War'],
 ['Drama', 'History'],
 ['Adventure', 'Fantasy', 'Action', 'Comedy', 'Family'],
 ['Action', 'Comedy'],
 ['Action', 'Adventure', 'Drama', 'History'],
 ['Music', 'Drama'],
 ['Action', 'Drama', 'Thriller'],
 ['Drama'],
 ['Drama', 'Romance'],
 ['Comedy', 'Drama', 'Romance'],
 ['Adventure', 'Comedy', 'Crime', 'Mystery', 'Romance', 'Thriller'],
 ['Thriller', 'Action', 'Crime', 'Drama'],
 ['Action', 'Adventure', 'Fantasy', 'Science Fiction'],
 ['Comedy'],
 ['Drama', 'Family', 'Fantasy', 'Adventure'],
 ['Adventure', 'Action', 'Comedy'],
 ['Music', 'Drama', 'Romance'],
 ['Adventure', 'Comedy'],
 ['Drama', 'Romance'],
 ['Drama'],
 ['Romance', 'Animation', 'Adventure', 'Comedy', 'Family', 'Fantasy'],
 ['Comedy', 'Romance'],
 ['Comedy', 'Romance'],
 ['Drama'],
 ['Drama', 'Thriller', 'Crime'],
 ['Drama', 'Thriller'],
 ['Science Fiction'],
 ['Drama', 'Comedy', 'Music'],
 ['Adventure', 'Animation', 'Comedy', 'Family'],
 ['Drama', 'Romance'],
 ['Action', 'Crime', 'Drama', 'Romance', 'Thriller', 'Western'],
 ['Comedy', 'Drama'],
 ['Crime', 'Horror', 'Mystery', 'Thriller'],
 ['Science Fiction', 'Thriller'],
 ['Romance', 'Drama', 'Comedy'],
 ['Drama'],
 ['Comedy', 'Romance'],
 ['Fantasy', 'Drama'],
 ['Action', 'Comedy', 'Science Fiction'],
 ['Action', 'Thriller', 'Fantasy'],
 ['Comedy', 'Romance'],
 ['Drama'],
 ['Horror', 'Thriller'],
 ['Family'],
 ['Action', 'Comedy', 'Drama'],
 ['Adventure', 'Fantasy'],
 ['Drama', 'Music'],
 ['Thriller'],
 ['Comedy'],
 ['Drama'],
 ['Comedy', 'Drama', 'Music', 'Romance'],
 ['Comedy', 'Drama', 'Crime'],
 ['Action', 'Thriller'],
 ['Action'],
 ['Animation', 'Action', 'Family'],
 ['Action', 'Adventure', 'Crime'],
 ['Drama'],

In [192]:
# #not working

# print('Number of genres in films')
# train['genres'].apply(lambda x: [i for i in x if i])

Number of genres in films

TypeError: 'float' object is not iterable

In [ ]:
train_test = train

In [212]:
# Test code for extracting year, month, and day from release_date converted to datetime
# This works, just needs to be refactored into wrangle()

train_test['release_date_dt'] = pd.to_datetime(train_test['release_date'], infer_datetime_format=True)
train_test['release_year'] = train_test['release_date_dt'].dt.year
train_test['release_month'] = train_test['release_date_dt'].dt.month
train_test['release_day'] = train_test['release_date_dt'].dt.day

0       20
1        6
2       10
3        9
4        5
5        6
6       30
7       15
8       16
9       16
10      21
11      10
12      15
13       4
14      20
15       6
16       4
17      25
18       2
19       2
20       3
21      13
22      28
23       2
24       9
25      23
26       8
27       7
28       8
29       7
        ..
2970    25
2971    12
2972    27
2973     9
2974    28
2975    31
2976     3
2977    15
2978    23
2979    23
2980     4
2981     9
2982    12
2983     4
2984     8
2985    17
2986     3
2987    20
2988    20
2989    11
2990    28
2991    12
2992    18
2993    17
2994    18
2995    22
2996    28
2997    11
2998    16
2999    22
Name: release_day, Length: 3000, dtype: int64

In [165]:
# wrangle function
def wrangle(X):
    
    # Convert columns with string representations of lists to lists (of dictionaries)
    # This is a common issue when saving and loading pandas DataFrames as .csv files.
    # To store the actual objects, try DataFrame.to_pickle()
    
    string_list = ['belongs_to_collection', 'genres', 'production_companies',
                   'production_countries', 'spoken_languages', 'Keywords', 
                   'cast', 'crew']

    for col in string_list:
        X.loc[:,col] = X.loc[:,col].apply(lambda x: literal_eval(x) 
                                          if type(x)==str else np.nan)
        
    # Add a binary feature: 1 if movie belongs to a collection, 0 otherwise
    X['collection'] = X['belongs_to_collection'].notnull().astype(int)
    
    # Add a binary feature: 1 if movie released, 0 otherwise
    X['released'] = X['status'].apply(lambda x: 1 if x=='Released' else 0)
    
    # Add a binary feature: 1 if movie has a homepage, 0 otherwise
    X['has_homepage'] = X['homepage'].notnull().astype(int)
    
    # Get features for collection_id and collection_name
    X['collection_id'] = X['belongs_to_collection'].apply(lambda x: x[0]['id']
                                                          if type(x)==list else np.nan)
    X['collection_name'] = X['belongs_to_collection'].apply(lambda x: x[0]['name'] 
                                                            if type(x)==list else np.nan)
    
    return X

In [166]:
train_wrangled = wrangle(train)

In [167]:
train_wrangled.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,status,tagline,title,Keywords,cast,crew,revenue,collection,collection_id,collection_name
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,1,313576.0,Hot Tub Time Machine Collection
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,1,107674.0,The Princess Diaries Collection
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,0,NaN,NaN
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,0,NaN,NaN
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,0,NaN,NaN

In [183]:
train_wrangled['genres'].iloc[0][0]['id']

35

In [ ]:
train_wrangled['genres'].iloc[0][0]['id']

In [170]:
# the lists of dictionaries can be converted to pandas DataFrame
# Maybe this will be useful later.
new = train.iloc[0]['crew']
pd.DataFrame(new).head()

,credit_id,department,gender,id,job,name,profile_path
0,59ac067c92514107af02c8c8,Directing,0,1449071,First Assistant Director,Kelly Cantley,None
1,52fe4ee7c3a36847f82afad7,Directing,2,3227,Director,Steve Pink,/myHOgo8mQSCiCAZNGMRdHVr03jr.jpg
2,5524ed25c3a3687ded000d88,Writing,2,347335,Writer,Josh Heald,/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg
3,5524ed2d925141720c001128,Writing,2,347335,Characters,Josh Heald,/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg
4,5524ed3d92514166c1004a5d,Production,2,57822,Producer,Andrew Panay,None

In [11]:
# maybe one hot encode the genres?
# check the cadinality of production companies, it's probably very high
# ordinal encode produciton country?
# keywords could potentially be interesting for a stretch goal, check cardinality
# maybe pull a few crew members? At least director? Maybe a few leads from cast?
# could we get is_sequel from collection dictionary?

# Also, popularity may be leakage

### code refactored into wrangle()

In [86]:
# # define helper function to get collection_id. NaN --> 0
# def get_collection_id(row):
#     if type(row['belongs_to_collection'])==str:
#         return ast.literal_eval(row['belongs_to_collection'])[0]['id']
#     else:
#         return 0

In [87]:
# ast.literal_eval(train.iloc[0]['belongs_to_collection'])[0]['id']

313576

In [96]:
# # apply the function to create the collection_id feature
# train['collection_id'] = train.apply(get_collection_id, axis=1)
# train['collection_id']

0       313576
1       107674
2            0
3            0
4            0
5            0
6            0
7            0
8       256377
9            0
10        1575
11       48190
12           0
13       91698
14           0
15           0
16           0
17           0
18           0
19        9518
20           0
21        9735
22      207621
23           0
24           0
25           0
26           0
27           0
28           0
29           0
         ...
2970         0
2971         0
2972         0
2973         0
2974    149704
2975         0
2976         0
2977         0
2978         0
2979         0
2980         0
2981         0
2982         0
2983         0
2984    221111
2985         0
2986         0
2987         0
2988         0
2989         0
2990         0
2991    107469
2992         0
2993         0
2994         0
2995         0
2996         0
2997         0
2998         0
2999         0
Name: collection_id, Length: 3000, dtype: int64

In [92]:
# # define helper function to get collection_name. NaN --> 0
# def get_collection_name(row):
#     if type(row['belongs_to_collection'])==str:
#         return ast.literal_eval(row['belongs_to_collection'])[0]['name']
#     else:
#         return 0

In [93]:
# # apply the function to create the collection_name feature
# train['collection_name'] = train.apply(get_collection_name, axis=1)
# train['collection_name']

0       Hot Tub Time Machine Collection
1       The Princess Diaries Collection
2                                     0
3                                     0
4                                     0
5                                     0
6                                     0
7                                     0
8                 The Muppet Collection
9                                     0
10                     Rocky Collection
11      Revenge of the Nerds Collection
12                                    0
13              Chili Palmer Collection
14                                    0
15                                    0
16                                    0
17                                    0
18                                    0
19           The Transporter Collection
20                                    0
21           Friday the 13th Collection
22                     V/H/S Collection
23                                    0
24                                    0
25                                    0
26                                    0
27                                    0
28                                    0
29                                    0
                     ...
2970                                  0
2971                                  0
2972                                  0
2973                                  0
2974       Alone in the Dark Collection
2975                                  0
2976                                  0
2977                                  0
2978                                  0
2979                                  0
2980                                  0
2981                                  0
2982                                  0
2983                                  0
2984                S.W.A.T. Collection
2985                                  0
2986                                  0
2987                                  0
2988                                  0
2989                                  0
2990                                  0
2991     Save The Last Dance Collection
2992                                  0
2993                                  0
2994                                  0
2995                                  0
2996                                  0
2997                                  0
2998                                  0
2999                                  0
Name: collection_name, Length: 3000, dtype: object